@page "/multivendor-portal"

<PageTitle>Multi-Vendor Portal Plan</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Multi-Vendor Portal Plan</MudText>

<MudPaper Elevation="3" Square="true" Outlined="true" Class="px-4 pt-4 pb-2">
    <MudTabs>
        <MudTabPanel Text="Setup">
            <PortalSetup />
        </MudTabPanel>

        <MudTabPanel Text="Marketing">
            <h4>Marketing</h4>
            <p>This is the content for the Marketing tab.</p>
        </MudTabPanel>

        <MudTabPanel Text="Physical Prep">
            <h4>Physical Prep</h4>
            <p>This is the content for the Physical Prep tab.</p>
        </MudTabPanel>

        <MudTabPanel Text="Digital Prep">
            <h4>Digital Prep</h4>
            <p>This is the content for the Digital Prep tab.</p>
        </MudTabPanel>
    </MudTabs>
</MudPaper>
