@page "/upgrades"

<PageTitle>Service Upgrades</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Service Upgrades</MudText>

<!-- <div class="mud-grid">
    <div class="mud-col">
        <MudCheckBox Label="Extended Time: Purchase additional recording time in hourly increments." />
        <MudCheckBox Label="Premium Mixing: Advanced mixing techniques, effects, and sound enhancements." />
        <MudCheckBox Label="Equipment Upgrade: Switch to a premium microphone or add additional equipment for enhanced sound quality." />
        <MudCheckBox Label="Post-Production Perfection: Additional editing, sound design, or mastering." />
        <MudCheckBox Label="Vintage Vibe: Use analog synthesizers and equipment for a classic touch." />
        <MudCheckBox Label="Music Video Shoot: Use the green screen wall and lighting for basic MV shoots." />
        <MudCheckBox Label="Custom Backing Tracks: Create personalized backing tracks for artists." />
        <MudCheckBox Label="Produce & Publish: Assist clients in publishing their audio content on platforms like Spotify, iTunes, etc." />
        <MudCheckBox Label="High-End Mix & Mastering: Engage in sophisticated techniques for premium track finalization" />
    </div>
    <div class="mud-col">
        <MudCheckBox Label="Virtual Reality Soundscapes: Create immersive sound experiences using 3D audio techniques." />
        <MudCheckBox Label="Sound Restoration: Digitally restore and enhance old recordings." />
        <MudCheckBox Label="Customized Jingles: Craft and record unique jingles for commercials, YouTube intros, or radio spots." />
        <MudCheckBox Label="Mastering Madness: Advanced mastering techniques for a professional finish on any track." />
        <MudCheckBox Label="Remote Recording: Offer a service where you send equipment and a technician to record at a client's chosen location" />
        <MudCheckBox Label="Premium Edit: Advanced video editing techniques, special effects, and audio mastering." />
        <MudCheckBox Label="Photoshop Magic: Professional photo retouching and image manipulation." />
        <MudCheckBox Label="Extended Shoot: Extend any shoot duration for deeper content creation." />
        <MudCheckBox Label="Content Consultation: Guide clients on best practices for photo/video content strategy." />
        <MudCheckBox Label="Delivery & Storage: Offer digital storage solutions and physical print delivery" />
    </div>
</div> -->

<!-- <style>
    .mud-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
</style> -->
